aiofiles
aiosqlite
httpx
langchain
langchain_core
langgraph
langchain_openai
langchain_text_splitters
langgraph_checkpoint_sqlite
loguru
python-dotenv
pydantic_settings
numpy
json_repair
jsonschema
tavily-python
fake_useragent
PyMuPDF
python-pptx
python-docx
cairosvg
llvmlite==0.45.0
beautifulsoup4
